//@media (max-width: 1400px)
//@media (max-width: 1200px)
@media (max-width: 1100px) {
    .carousel {
        width: 600px;
        margin: 0 auto;
        padding-bottom: 30px;
        .prev {
            left: -50px;
        }
        .next {
            right: -50px;
        }
        &__inner {
            img {
                width: 600px;
            }
        }
    }

}

@media (max-width: 991px) {
    .promo {
        min-height: 610px;
        .header {
            padding-left: 20px;
            padding-right: 20px;
        }

        &__wrapper {
            margin-top: 50px;
            padding-right: 20px;
            align-items: center;
        }
        &__icons {
            margin-top: 35px;
        }
        .button__main {
            margin-top: 35px;
        }
    }
    .benefits {
        padding-top: 40px;
        min-height: 400px;
        &__wrapper {
            margin-top: 40px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .consultation {
        min-height: 620px;
        padding: 50px 20px;
        &__desc {
            margin-top: 20px;
        }
        .title_left {
            font-size: 30px;
        }
    }
    .catalog {
        .title {
            text-align: center;
        }
    }
}
@media (max-width: 767px) {
    .promo {
        .header {
            &__phone {
                font-size: 15px;
            }
            &__logo {
                width: 200px;
            }
            &__official {
                span {
                    font-size: 15px;
                }
            }
        }
        &__wrapper {
            margin-top: 25px;
        }
        &__header {
            font-size: 35px;
        }
    }
    .benefits {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__subtitle {
            margin-top: 15px;
        }
    }
    .consultation {
        text-align: center;
        &__desc {
            font-size: 18px;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 20px;
        }
    }

    .carousel {
        width: 300px;
        &__inner {
            img {
                width: 300px;
            }
        }
    }

    .catalog {
        &__tabs {
            margin-top: 40px;
            flex-direction: column;
            align-items: center;
        }
        &__tab {
            width: 200px;
            margin-bottom: 10px;
            font-size: 15px;
        }
    }
}

@media (max-width: 575px) {
    .promo {
        padding: 20px 10px 0 10px;
        min-height: 470px;
        &__wrapper {
            padding: 0;
        }
        .header {
            padding: 0;
            &__logo {
                width: 155px;
            }
            &__official {
                font-size: 9px;
                span {
                    font-size: 7px;
                }
            }
            &__button {
                width: 85px;
                font-size: 7px;
            }
            &__phone {
                font-size: 9px;
            }
            &__button {
                height: 19px;
            }
        }
        &__header {
            font-size: 23px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__icons {
            width: 100%;
        }
        .button__main {
            width: 250px;
        }
    }
    .benefits {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
    }
}
@media (max-width: 319px) {
    .consultation {
        .title_left {
            font-size: 19px;
        }
        &__desc {
            font-size: 14px;
        }
        .feed-form {
            width: 230px;
            input {
                height: 40px;
            }
            .button_submit {
                height: 40px;
                font-size: 14px;
            }
        }
    }
}